
/* Your CSS Code here. */
.holder{
	display:flex;
	align-items:center;
	justify-content:center;
	height:100px;
	width:100px;
	 
	
}
.item-1{
	display:flex;
	align-items:center;
	justify-content:center;
	height:100px;
	weight:100px;
	background-color:red;
	
}